body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/originals/3d/1c/e3/3d1ce3fb1985505ba88e01e525a8f841.gif")
}
.jumbotron {
    background-color: #00BFFF;
}
#rainy {
   text-align:center;
   background-color:#00BFFF;
   color:yellow;
}
#sunny {
    text-align:center;
    background-color: #00BFFF;
    color: yellow;
}
#cold {
    text-align:center;
    background-color: #00BFFF;
    color: yellow;
}
body {
    cursor:url();
}